@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

:root {
    --naranja: #f05c21;
    --azul-maxi: #00bdff
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web';
}

.row {
    margin: 0;
}

h2.title {
    color: var(--naranja);
    font-weight: 900;
    position: relative;
    padding: 1rem 0;
}

h2.title img {
    position: absolute;
    left: -70px;
    bottom: 0;
}

p,
a {
    font-weight: 300;
}

a:hover {
    text-decoration: none;
}

.btn-pedidos {
    background: var(--naranja);
    padding: .7rem;
    color: #ffffff;
    border-radius: 25px;
    display: block;
    margin: 1rem auto;
    width: 200px;
    text-align: center;
}

.btn-pedidos:hover {
    background: #00bdff;
    color: #fff;
    font-weight: 600;
}

.redes-fixed {
    position: fixed;
    right: 15px;
    z-index: 1025;
}

.redes-fixed a {
    color: var(--naranja);
    /* <border: 1px solid var(--naranja); */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 1rem 0;
    font-size: 25px;
}

/* .redes-fixed a:nth-child(1) {
    background: #4ca92b;
    color: white;
    border: none;
} */
.redes-fixed a:hover {
    background-size: cover;
    background-position: center;
}

.redes-fixed a:hover img {
    display: none;
}

.redes-fixed a:nth-child(1):hover {
    background-image: url(../images/Whats_2.png);
}

.redes-fixed a:nth-child(2):hover {
    background-image: url(../images/Meesenger.png);
}

.redes-fixed a:nth-child(3):hover {
    background-image: url(../images/FAQs.png);
}

.ir-arriba {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2000;
    font-size: 2rem;
    color: var(--naranja);
    cursor: pointer;
}


/* Home */
.home {
    background: #000;
    background-image: url(../images/Home/Bg.png);
    background-size: cover;
    background-position: center -55px;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    color: #ffffff;
    position: relative;
}

.home .flecha {
    position: absolute;
    bottom: -200px;
    left: 0;
}

.home h2 {
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.home h3 {
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.navbar {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #00bdff !important;
    box-shadow: 0px 1px var(--naranja);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.price hr {
    border-top: 1px solid var(--naranja);
    margin: 2rem;
    opacity: .5;
}

/* Nosotros */

.about {
    position: relative;
}

.about img.dots {
    position: absolute;
    bottom: -150px;
    right: 0;
    padding: 0;
    width: 43%;
}

img.dots-superior {
    position: absolute;
    top: 0;
    left: 0;
}


/* Price */
.price {
    background: #000;
}

.price .container {
    border: 1px solid var(--naranja);
    padding: 2rem;
    border-radius: 35px;
    color: #ffffff;
    text-align: center;
}

.price .container span {
    color: #00bdff;
}

.price .price-table>p {
    color: var(--naranja);
    cursor: pointer;
}

/* Services */
.services p.services {
    color: var(--naranja);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.services .col-lg-6 {
    border: 1px solid #00bdff;
    margin: 1rem;
    display: grid;
    grid-template-columns: 164px 1fr;
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
}

.services .col-lg-6 h3 {
    color: var(--naranja);
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.services img.dots {
    position: absolute;
    bottom: -300px;
    left: 0;
}

.services .right .item {
    display: grid;
    grid-template-columns: 1fr 11fr;
}

.services .right .item img {
    display: block;
    margin: 8px auto;
}

/* Solicitar */
.steeps .steep {
    border: 2px solid #00bdff;
    border-radius: 25px;
    text-transform: uppercase;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    text-align: center;
}

.steeps .steep p:nth-child(1) {
    color: var(--naranja);
    font-weight: 700;
}

.steeps .steep img {
    position: absolute;
    bottom: -10px;
    display: block;
}


/* Contact */
.contact {
    background: #252628;
    color: #ffffff;
}

.contact form input,
.contact form textarea {
    background: transparent;
    border: 1px solid var(--naranja);

}

.contact form input::placeholder,
.contact form textarea::placeholder {
    color: #48494b;
}

.contact form label {
    color: #48494b;
}

.contact form button {
    background: var(--naranja);
    border: none;
    border-radius: 20px;
    padding: .5rem 1.5rem;
    margin-left: auto;
    display: block;
}

.contact .data {
    background: #3b3c3e;
    padding: 2rem;
    border-radius: 25px;
}

.contact .data img {
    display: inline-block;
    margin: 0 10px 0 0;
}

.contact .data p {
    color: var(--naranja);
    margin: 25px 0 10px;
}

.contact .data a {
    display: block;
    margin: 10px 0;
    color: #fff;
}


/* Footer */
footer {
    background: #000;
    color: #ffffff;
}

footer a {
    color: var(--naranja);
    display: inline-block;
    margin: 0 1.5rem;
    border-left: 1px solid #00bdff;
    border-right: 1px solid #00bdff;
    padding: 0 1.5rem;
}

footer .redes a {
    margin: 0 .7rem;
    border: none;
    padding: 0;
}

@media (min-width: 992px) {
    .contact .data {
        width: 75%;
    }

    .services .col-lg-6 {
        -ms-flex: 0 0 46%;
        flex: 0 0 46%;
        max-width: 46%;
    }
}

@media (max-width: 767px) {
    .home {
        background-position: center;
    }

    .home .flecha {
        left: 16px;
    }

    .home h2,
    h2.title {
        font-size: 1.7rem;
    }

    .home h3 {
        font-size: 1.2rem;
    }

    .price .container {
        padding: 1rem;
    }

    .services .col-lg-6 {
        grid-template-columns: 12fr;
    }

    .redes-fixed a {
        background: #000;
    }
}

/* @media (min-width: 768px) {
    .services .col-lg-6 {
        -ms-flex: 0 0 46%;
        flex: 0 0 46%;
        max-width: 46%;
    }
} */